#leftBox{
    padding-left: 15px;
}
#rightBox{
    padding-right: 15px;
}
#indexRow{
    padding-left: 120px;
}
.oneRemTopPad{
     padding-top: 1rem
 }
.twoRemBottomPad{
      padding-bottom: 2rem;
  }
